<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 SalesIds. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <salesids_core_extensions>
            <admin_notification>
                <feed_url>notifications.salesids.com/magento/community</feed_url>
                <enabled>1</enabled>
                <use_https>0</use_https>
                <frequency>12</frequency>
                <type_allow>update,marketing,info</type_allow>
            </admin_notification>
        </salesids_core_extensions>
    </default>
</config>
