<?xml version="1.0"?>
<!--
/**
 * @author Emosys Team
 * @copyright Copyright (c) 2016 Emosys Ltd (http://www.emosys.com)
 * @package Emosys_Core
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <section id="emosys_core" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Command</label>
            <tab>emosys</tab>
            <resource>Emosys_Core::config</resource>
            <group id="base" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>About Emosys.com</label>
                <field id="info" translate="button_label" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Emosys\Core\Block\Adminhtml\System\Config\Info</frontend_model>
                </field>
            </group>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="clear_css" translate="button_label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <button_label>Clear CSS cache</button_label>
                    <frontend_model>Emosys\Core\Block\Adminhtml\System\Config\ClearCss</frontend_model>
                </field>
                <field id="clear_js" translate="button_label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <button_label>Clear JS cache</button_label>
                    <frontend_model>Emosys\Core\Block\Adminhtml\System\Config\ClearJs</frontend_model>
                </field>
            </group>
            <group id="advanced" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Advanced</label>
                <!--field id="command" translate="label" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>CLI Command</label>
                </field-->
                <field id="command" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>CLI Command</label>
                    <source_model>Emosys\Core\Model\Config\Source\Command</source_model>
                </field>
                <field id="args" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Argument(s)</label>
                </field>
                <field id="exec_command" translate="button_label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <button_label>Exec CLI Command</button_label>
                    <frontend_model>Emosys\Core\Block\Adminhtml\System\Config\Exec</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>