<?xml version="1.0"?>
<!--
/**
 * @author Emosys Team
 * @copyright Copyright (c) 2016 Emosys Ltd (http://www.emosys.com)
 * @package Emosys_Banner
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Emosys\Banner\Api\Data\ItemInterface" type="Emosys\Banner\Model\Item" />
    <virtualType name="ItemGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="ItemGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Emosys\Banner\Model\Resource\Item\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">ItemGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Emosys\Banner\Model\ResourceModel\Item\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">emosys_banner_item</argument>
            <argument name="resourceModel" xsi:type="string">Emosys\Banner\Model\ResourceModel\Item</argument>
        </arguments>
    </virtualType>

    <preference for="Emosys\Banner\Api\Data\PhotoInterface" type="Emosys\Banner\Model\Photo" />
    <virtualType name="PhotoGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PhotoGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Emosys\Banner\Model\Resource\Photo\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">PhotoGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Emosys\Banner\Model\ResourceModel\Photo\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">emosys_banner_photo</argument>
            <argument name="resourceModel" xsi:type="string">Emosys\Banner\Model\ResourceModel\Photo</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="emosys_banner_item_listing_data_source" xsi:type="string">Emosys\Banner\Model\ResourceModel\Item\Grid\Collection</item>
                <item name="emosys_banner_photo_listing_data_source" xsi:type="string">Emosys\Banner\Model\ResourceModel\Photo\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>