<?xml version="1.0"?>
<!--
/**
 * @author Emosys Team
 * @copyright Copyright (c) 2016 Emosys Ltd (http://www.emosys.com)
 * @package Emosys_Banner
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="emosys_banner" frontName="emosys_banner">
            <module name="Emosys_Banner" before="Magento_Backend" />
        </route>
    </router>
</config>
    