<?xml version="1.0"?>
<!--
/**
 * @author Emosys Team
 * @copyright Copyright (c) 2016 Emosys Ltd (http://www.emosys.com)
 * @package Emosys_Banner
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <section id="emosys_banner" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Banner Slider</label>
            <tab>emosys</tab>
            <resource>Emosys_Banner::config</resource>
            <group id="base" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>About Emosys.com</label>
                <field id="info" translate="button_label" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Emosys\Banner\Block\Adminhtml\System\Config\Info</frontend_model>
                </field>
            </group>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
            </group>
        </section>
    </system>
</config>